/* 1536  */
body {
  background: rgb(52, 58, 64);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: fit-content;
  background-color: var(--header-background);
  opacity: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 3vw;
  box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
}

.sub-header {
  width: 62%;
  display: flex;
  justify-content: space-between;
}

.logo-senai {
  width: 180px;
  height: 46px;
}

.icon-menu-hamburguer {
  width: 3em;
  cursor: pointer;
}

.header-name {
  color: var(--doctor);
  font-family: var(--reem-kufi);
  font-size: 3em;
  cursor: pointer;
}

.span-header {
  color: var(--shy-moment);
}

.menu-hamburger {
  max-height: 400px;
  background-color: var(--washed-black);
  color: var(--doctor);
  border-radius: 10px;
  border-top-right-radius: 0px;
  right: 0px;
  margin: 12vh 1vw;
  box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.5);
}

.bm-item-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 3vw;
  gap: 4vh;
}

.menu-item {
  color: var(--doctor);
  text-decoration: none;
  font-family: var(--dm-sans);
  font-size: 2em;
  text-align: left;
  font-weight: var(--semi-bold);
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-item,
.menu-item:after,
.menu-item:before {
  transition: all 0.25s;
}

.menu-item {
  position: relative;
}

.menu-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10%;
  content: ".";
  color: transparent;
  background: var(--pompeii-ash);
  height: 2px;
}
.menu-item:hover:after {
  align-self: self-start;
  width: 30%;
}

#roxo {
  color: var(--shy-moment);
}

.section {
  width: 110vw;
  height: 100vh;
  background-color: none;
  background-image: url("../../assets/images/background-elipse.png");
  background-repeat: round;
}

main {
  width: 100%;
  height: 100vh;
  margin-top: 11vh;
  color: white;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hero-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: -5vh 0 10vh;
}

.hero-sub-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10vh;
  text-align: left;
}

.hero-title {
  color: var(--doctor);
  font-family: var(--dm-sans);
  font-size: 6em;
  font-weight: var(--bold);
  text-shadow: -4px 0px 0px var(--blurstering-blue);
}

.hero-button {
  color: var(--doctor);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--blurstering-blue);
  padding: 3vh 5vw;
  font-size: 1.7em;
  font-weight: var(--bold);
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 2em;
  cursor: pointer;
}

.tutorial-button {
  color: var(--doctor);
  text-decoration: none;
  border: 2px solid var(--blurstering-blue);
  padding: 2vh 5vw;
  font-size: 1.8em;
  font-weight: var(--semi-bold);
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 2em;
  cursor: pointer;
}

.hero-button:hover {
  color: white;
}

.hero-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background: rgb(49, 39, 135);
  background: linear-gradient(
    123deg,
    rgba(49, 39, 135, 1) 0%,
    rgba(90, 72, 249, 1) 34%,
    rgba(67, 24, 255, 1) 100%
  );
  z-index: -1;
  transition: all 1s;
}

.hero-button:hover::before {
  width: 160%;
}

.tutorial-button:hover {
  z-index: 2;
  color: white;
}

.tutorial-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background: rgb(49, 39, 135);
  background: linear-gradient(
    123deg,
    rgba(49, 39, 135, 1) 0%,
    rgba(90, 72, 249, 1) 34%,
    rgba(67, 24, 255, 1) 100%
  );
  z-index: -1;
  transition: all 1s;
}

.tutorial-button:hover::before {
  width: 160%;
}

.divider {
  width: 70%;
  border: solid 1px var(--mild-blue-yonder);
  align-self: center;
}

.sobre-container,
.impressoras-container,
.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  margin: 5vh 2vw;
}

.sobre-title,
.impressoras-title,
.tutorial-title,
.horario-title {
  font-size: 3.5em;
  text-shadow: -3px -2px 0px var(--blurstering-blue);
}

.sobre-sub-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
}

.sobre-text {
  width: 70%;
  font-size: 2.2em;
  line-height: 2;
  font-weight: var(--semi-bold);
}

.sobre-image-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.sobre-image {
  height: 250px;
}

.sobre-image:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

.card-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-impressora {
  max-width: 25vw;
  height: 730px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  user-select: none;
  padding: 1vh 2vw;
  background: var(--washed-black);
  border: 1px solid var(--seared-grey);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
}

.card-impressora:hover {
  transform: scale(1.01);
  border: 1px solid var(--blurstering-blue);
  backdrop-filter: none;
}

.card-title {
  font-size: 2.2em;
}

.card-divider {
  width: 100%;
  border: solid 1px var(--pompeii-ash);
}

.card-text {
  font-weight: var(--semi-bold);
  font-size: 1.2em;
}

.tutorial-container {
  margin: 5vh 8vw;
  background: rgb(33, 37, 41);
  background: linear-gradient(
    149deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(52, 58, 64, 1) 48%,
    rgba(33, 37, 41, 1) 100%
  );
  border-radius: 20px;
  padding: 6vh 0;
}

.tutorial-divider {
  width: 80%;
  border: solid 1px var(--pompeii-ash);
}

.tutorial-divider-up {
  width: 30%;
  border: 1px solid var(--pompeii-ash);
  margin-top: -6vh;
}

.tutorial-sub-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tutorial-image {
  max-width: 500px;
  max-height: 300px;
}

.tutorial-text {
  max-width: 30vw;
  color: var(--doctor);
  font-weight: var(--semi-bold);
  text-align: left;
  font-size: 2.8em;
}

.background-text {
  text-shadow: -5px 0px 0px var(--blurstering-blue);
  font-size: 1.2em;
}

.horario-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 5vh;
  padding: 10vh 0;
  gap: 4vh;
  background-image: url("../../assets/images/background-elipse-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.horario-sub-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.horario-column {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 2vh;
  align-items: center;
}

.horario-column > h2 {
  font-size: 2.6em;
  font-weight: var(--regular);
}

.section-2 {
  width: 110vw;
  height: 100vh;
  background-color: none;
  background-image: url("../../assets/images/background-elipse-2.png");
  background-repeat: round;
}

footer {
  padding: 4vh;
  width: 100%;
  bottom: 0;
  background-color: var(--washed-black);
  box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-logo {
  height: 150px;
}

.footer-nav {
  width: fit-content;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  gap: 8vw;
}

.footer-sub {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.footer-sub > a {
  color: var(--cloud-cover);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: var(--extra-light);
}

.footer-title {
  font-size: 1.8em;
  color: var(--icewind-dale);
  font-weight: var(--regular);
}

@media (max-width: 1536px) {
  main {
    width: 100%;
  }

  .hero-container {
    margin: -10vh 5vw 0;
    justify-content: space-around;
    height: 100%;
  }
}
