.nf-container {
    width: 100%;
    height: 100vh;
    padding-inline-end: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--washed-black);
    overflow: hidden;
}

.nf-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 50vh;
}

.nf-text-container {
    font-family: var(--dm-sans);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.nf-title {
    color: var(--doctor);
    font-size: 7em;
}

.nf-subtitle {
    color: var(--icewind-dale);
    font-size: 3em;
    font-weight: var(--regular);
}

.nf-title-highlight {
    color: var(--blurstering-blue);
}

.nf-design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nf-image {
    position: absolute;
}

.nf-btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--antartic-deep);
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: var(--semi-bold);
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow:
        6px 6px 12px #131313,
        -6px -6px 12px #0a0a0a;
    margin-top: 4vh;
}

.nf-btn:active {
    color: #666;
    box-shadow:
        inset 4px 4px 12px #1f1f1f,
        inset -4px -4px 12px #444444;
}

.nf-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.nf-btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--blurstering-blue);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.nf-btn:hover {
    color: #ffffff;
    border: 1px solid var(--blurstering-blue);
}

.nf-btn:hover:before {
    top: -35%;
    background-color: var(--blurstering-blue);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.nf-btn:hover:after {
    top: -45%;
    background-color: var(--blurstering-blue);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.nf-background{
  animation-name: spin;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  max-height: 70vh;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
