.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh;
  background-color: var(--washed-black);
  max-height: 13vh;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.header-title {
  font-family: var(--reem-kufi);
  color: var(--doctor);
  font-size: 3em;
}

.header-title > span {
  color: var(--shy-moment);
}

@media screen 
  and (min-device-width: 1270px) 
  and (max-device-width: 1600px) {
  
    .header-title{
      font-size: 2.5em;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 576px) {
    .header{
      height: fit-content;
    }

    .header-title{
      font-size: 1.4em;
    }
}


