.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh;
  background-color: var(--washed-black);
}

.header-title {
  font-family: var(--reem-kufi);
  color: var(--doctor);
  font-size: 3em;
}

.header-title > span {
  color: var(--shy-moment);
}
