.section-body {
  background-color: var(--icewind-dale);
  height: 100vh;
  font-family: var(--dm-sans);
  overflow: hidden;
  position: relative;
}

.section-container {
  position: absolute;
  margin: 13vh 0vw 0vh 15vw;
  padding: 2vh;
  width: 100%;
}

.agendamento-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.section-title {
  font-size: 2.2em;
  font-weight: var(--bold);
}

.input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.aside-image {
  position: absolute;
  right: 0;
  z-index: 0;
  margin: 10vh 0;
  height: 95vh;
  overflow-y: hidden !important;
}

.label {
  font-weight: var(--semi-bold);
  font-size: 1.2em;
  margin: 3vh 0 1vh;
}

.datetime-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2vw;
  text-wrap: nowrap;
}

.datetime-sub-container {
  width: 100%;
}

.timepicker {
  width: 100%;
  height: 4vh;
  outline: none;
  border: 1px solid var(--cloud-cover);
  border-radius: 5px;

  font-size: 1.3em;
  color: var(--pompeii-ash);
  padding-inline-start: 1vw;
}

.antd-input{
   height: 5vh;
  max-height: 5vh;
  min-height: 5vh;
}

.dragger-text {
  font-weight: var(--semi-bold);
}

.dragger-info {
  font-size: 0.9em;
  align-self: center;
  text-align: center;
  color: var(--pompeii-ash);
}

.default-button {
  color: var(--doctor);
  background-color: var(--cosmic-cobalt);
  border: none;
  outline: none;
  padding: 1.5vh 4vw;
  font-size: 1.4em;
  font-weight: var(--semi-bold);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #000000;
  cursor: pointer;
  align-self: center;
  max-width: 20vw;
  margin: 5vh 0;
}

.default-button:hover {
  background-color: #4436c4;
  transition: all 0.5s;
}

.default-button:hover:active {
  transform: scale(1.01);
  transition: all 0.1s;
}

.dragger-text {
  color: var(--seared-grey);
  margin-bottom: 1vh;
}

.dragger-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.confirmacao-modal-container {
  background-color: var(--icewind-dale);
  border-radius: 10px;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

  position: absolute;
  top: 30%;
  right: 43%;
  width: 30vw;
  height: fit-content;
  z-index: 1;

  color: var(--washed-black);
}

.confirmacao-divider {
  width: 70%;
  border: 1px solid var(--seared-grey);
}

.modal-title {
  font-size: 2.4em;
  text-align: center;
}

.modal-info {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-weight: var(--regular);
}

.modal-button {
  color: var(--icewind-dale);
  background-color: var(--cosmic-cobalt);
  border: none;
  outline: none;
  padding: 1.5vh 2vw;
  font-size: 1em;
  font-weight: var(--semi-bold);
  border-radius: 5px;
  cursor: pointer;
  margin: 2vh 0 1vh;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.grey {
  color: var(--washed-black);
  background-color: var(--pompeii-ash);
}

@media (max-width: 1536px) {
  .agendamento-form-container {
    gap: 0;
  }
}
